* {
	font-family: JetBrainsMono Nerd Font, monospace;
	font-weight: bold;
	font-size: 14px;
	min-height: 0;
	color: #bd93f9;
	min-height: 0;
	background-color: rgba(20, 20, 20, 1);
	border-radius: 12px;
}

#tooltip {
	background-color: rgba(20, 20, 20, 1);
}

#workspaces {
	margin-left: 5px;
	background: transparent;
}

#custom-separator {
	padding-right: 8px;
	padding-left: 8px;
}

#network {
	padding: 0 0 0 0px; /* Adjust horizontally */
	margin: 0;          /* Adjust overall spacing */
}

#workspaces button:hover {
	background-color: rgba(15, 15, 23, 0.8);
	box-shadow: inherit;
  	text-shadow: inherit;
}

#workspaces button * {
	background: none;
}

#battery {
	margin-right: 24px;
	background: transparent;
}

#pulseaudio,
#backlight,
#network,
#tray {
	margin-right: 12px;
}

#battery.critical:not(.charging) {
	animation-name: blink;
	animation-duration: 0.25s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes blink {
	to {
		color: #e26c7c;
	}
}

#clock {
	margin-right: 24px;
}

#custom-power {
	font-size: 20px;
	margin-right: 22px;
	background: transparent;
}
